{% extends 'base.html' %} {% load static %} {% block content %}
    <article class="w-100 flex" style="background-color: white; height: 50px">
        <header class="flex-jb w-100">
            <img src="{% static 'image/GC.png' %}" alt="Logo da Empresa" class="logo ml-5" width="70px" height="50px">
            <!-- <div class="flex-je">
                <input type="text" class="input-busca">
                <i class="icone-notificacoes"><img src="{% static 'image/iconesino.png' %}" alt="ICONE NOTIFICAÇÃO" class="ml-4" width="70px" height="30px"></i>
                <i class="icone-notificacoes"><img src="{% static 'image/iconeconfig.png' %}" alt="ICONE CONFIGURAÇÃO" class="ml-4" width="70px" height="30px"></i>
            </div>  -->
        </header>
    </article>
    <section id="container123" class="flex w-100">
        <div class="sidebar">
            <div class="flex-ac flex-c">
                <span class="font-30 bold">Go Cardápios</span>
                <span class="font-15 mt-05">99.999.999/9999-99</span>
                <span class="font-15">Ruan Carlos Almeida</span>
            </div>
            <ul class="flex-c mt-2 flex-c sidebar-opcoes">
                <li class="flex w-100"><a href="#inicio" class="flex-ac w-100">
                    <i class="fa-solid fa-chart-line"></i> Inicio</a></li>
                <li class="flex w-100"><a href="#produtos" class="flex-ac w-100">
                    <i class="fa-solid fa-tag"></i> Produtos</a></li>
                <li class="flex w-100"><a href="#clientes" class="flex-ac w-100">
                    <i class="fa-solid fa-person-chalkboard"></i>Clientes</a></li>
                <li class="flex w-100"><a href="#pedidos" class="flex-ac w-100">
                    <i class="fa-solid fa-pen-to-square"></i>Pedidos</a></li>
                <li class="flex w-100"><a href="#relatorios" class="flex-ac w-100">
                    <i class="fa-regular fa-folder"></i>Relatórios</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Bem-vindo ao Painel Administrativo</h1>
            <p class="mt-1">Selecione uma opção no menu lateral para começar.</p>
            <!-- Conteúdo principal vai aqui -->
        </div>
    </section>
{% endblock %}